node_modules/
local/
clk-gateway/dist/
.DS_Store
.env-*
*.env

# Compiler files
cache/
out/
zkout/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
# Docs
docs/

# Dotenv file
.env
.env*
sa.json

# Subquery files
subquery/dist/
subquery/.data/
subquery/**/types/
subquery/project.yaml
subquery/mainnet*.yaml
subquery/testnet*.yaml

# Subquery-multichain files
subquery-multichain/dist/
subquery-multichain/.data/
subquery-multichain/**/types/
subquery-multichain/project.yaml
subquery-multichain/mainnet*.yaml
subquery-multichain/testnet*.yaml

# ZKSync files
artifacts-zk/
cache-zk/
deployments-zk/

artifacts-zk-1.4.1/
cache_hardhat-zk/
clk-gateway/coverage/
